header {
    display: flex;
    flex-direction: row;
    background: #151515;
    height: 70px;
}

#container {
    display: flex;
    flex-direction: row;
    background-color: #c74512;
    border-radius: 50px;
    margin: 10px 50px 10px 12px;
    font-size: 10px;
    border: 2px solid #782f12;
}


#imagen1 {
    height: 30px;
    margin: auto 12px auto 6px;
}

#imagen2 {
    height: 30px;
    margin: auto 6px auto 12px;
}

