<main id="principal">
  <!-- Correcto: $event es el término de búsqueda (string) -->
  <app-buscador (searchEvent)="onSearch($event)"></app-buscador>
  <!-- Mostrar resultados de búsqueda o lista paginada -->
  <ng-container *ngIf="!searchTerm; else searchResultsTemplate">
    <app-list [pokemonList]="resultados" (nextPageEvent)="cargarLista(nextPage)"
      (prevPageEvent)="cargarLista(prevPage)"></app-list>
  </ng-container>

  <ng-template #searchResultsTemplate>
    <app-list [pokemonList]="searchResults"></app-list>
  </ng-template>

  <!-- Mensaje si no hay resultados -->
  <div *ngIf="searchTerm && searchResults.length === 0" class="alert alert-warning">
    No se encontraron Pokémon con el nombre "{{ searchTerm }}".
  </div>

</main>