<main id="principal">
  <app-buscador (searchEvent)="onSearch($event)"></app-buscador>

  <!-- Mostrar lista paginada o resultados de búsqueda -->
  <ng-container *ngIf="!searchTerm; else searchResults">
    <app-list [pokemonList]="resultados"></app-list>
  </ng-container>

  <ng-template #searchResults>
    <app-list [pokemonList]="searchResults"></app-list>
  </ng-template>

  <!-- Mensaje si no hay resultados -->
  <div *ngIf="searchTerm && searchResults.length === 0" class="alert alert-warning">
    No se encontraron Pokémon con el nombre "{{ searchTerm }}".
  </div>

  <div class="d-flex justify-content-center mt-3">
    <br>
    <button class="btn btn-primary me-2" *ngIf="prevPage" (click)="cargarLista(prevPage)">Anterior</button>
    <button class="btn btn-primary" *ngIf="nextPage" (click)="cargarLista(nextPage)">Siguiente</button>
  </div>

</main>