<main id="principal">
    <app-buscador></app-buscador>
    <br>
    <div *ngIf="!loading && !error">
        <app-list [pokemonList]="resultados"></app-list>
      </div>
      
      <div *ngIf="loading">Cargando...</div>
      <div *ngIf="error">Error al cargar los datos</div>
      
      <!-- Paginación -->
      <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary me-2" *ngIf="prevPage" (click)="cargarLista(prevPage)">Anterior</button>
        <button class="btn btn-primary" *ngIf="nextPage" (click)="cargarLista(nextPage)">Siguiente</button>
      </div>

</main>