.input-wrapper {
    display: flex;
    align-items: center;
    width: 300px;
}

input {
    flex: 1;
    padding: 10px;
}

.icon-button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
    color: #666;
    margin-left: -38px;
}

.search-icon:hover {
    color: #333;
}


input {
    padding: 10px 40px 10px 10px;
    background-color: rgb(126, 126, 126);
    width: 300px;
    border-radius: 25px;
    color: aliceblue;
    border: 4px solid black;
}

input::placeholder {
    color: aliceblue;
}